<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="bg-indigo-500 h-14 w-full text-white items-center flex text-center justify-center fixed top-0 text-4xl">This is a nav</nav>
  <div class="grid grid-cols-4 gap-14">
    <main class="col-span-3">
      <p class="mt-16 ml-2 h-auto bg-gray-500 text-lg text-white p-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
      temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
       atque aliquam architecto rerum repudiandae.
      <br>
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
       temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
        atque aliquam architecto rerum repudiandae.
        <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
        temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
         atque aliquam architecto rerum repudiandae.
         <br>
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
         temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
          atque aliquam architecto rerum repudiandae.
          <br>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
          temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
           atque aliquam architecto rerum repudiandae.
           <br>
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
           temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
            atque aliquam architecto rerum repudiandae.
          
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
            temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
             atque aliquam architecto rerum repudiandae.
            <br>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
             temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
              atque aliquam architecto rerum repudiandae.
              <br>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
              temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
               atque aliquam architecto rerum repudiandae.
               <br>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
               temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
                atque aliquam architecto rerum repudiandae.
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
                temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
                 atque aliquam architecto rerum repudiandae.
                 <br>
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus obcaecati officiis, 
                 temporibus ipsam ullam officia consequatur cumque labore non quaerat eveniet recusandae modi debitis itaque,
                  atque aliquam architecto rerum repudiandae.</p>
    </main>
  
    <div class="col-span-1 bg-orange-400 h-96 mt-16 w-64 sticky top-16 -z-10">
      <p>This is another div</p>
    </div>
  </div>
  <p class="bg-gray-700 mt-10 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, est similique.
    Ea ex harum repudiandae nisi doloribus cumque temporibus fugiat suscipit pariatur magni esse,
     placeat similique labore quam qui saepe.</p>
     <p class="bg-gray-700 mt-10 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, est similique.
       Ea ex harum repudiandae nisi doloribus cumque temporibus fugiat suscipit pariatur magni esse,
        placeat similique labore quam qui saepe.</p>
        <p class="bg-gray-700 mt-10 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, est similique.
         Ea ex harum repudiandae nisi doloribus cumque temporibus fugiat suscipit pariatur magni esse,
          placeat similique labore quam qui saepe.</p>
          <p class="bg-gray-700 mt-10 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, est similique.
           Ea ex harum repudiandae nisi doloribus cumque temporibus fugiat suscipit pariatur magni esse,
            placeat similique labore quam qui saepe.</p>
            <p class="bg-gray-700 mt-10 mb-10 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, est similique.
             Ea ex harum repudiandae nisi doloribus cumque temporibus fugiat suscipit pariatur magni esse,
              placeat similique labore quam qui saepe.</p>
      
    <div class="items-center flex text-center justify-center bg-red-800 text-white w-12 h-12 rounded-full absolute top-1 right-2">
      <p>Circle</p>
    </div>

  <footer class="bg-lime-900 h-14 w-full text-white items-center flex text-center justify-center">This is a footer</footer>
</body>
</html>