<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="home">
    <div class="sm:h-screen w-screen vs:h-60">
      <img class="sm:h-screen w-screen vs:h-60" src="assets/Images/banner.jpg">
    </div>
    <div class="absolute top-0 left-0 right-0 w-screen h-screen text-white font-bold" id="text">
      <h1 class="sm:text-4xl sm:mb-6 sm:ml-10 sm:mt-20 vs:text-sm vs:mb-2 vs:mt-10 vs:ml-4">Hello</h1>
      <h1 class="sm:text-4xl sm:mb-6 sm:ml-10 vs:text-sm vs:mb-2 vs:ml-4">I'm Rakibul Hasib Rakim</h1>
      <h1 class="sm:text-6xl sm:mb-6 sm:ml-10 vs:text-lg vs:mb-2 vs:ml-4">SOFTWARE DEVELOPER</h1>
      <h1 class="sm:text-4xl sm:mb-6 sm:ml-10 vs:text-sm vs:mb-2 vs:ml-4 vs:hidden">A enthusiastic full stack developer from Bangladesh</h1>
      <h1 class="sm:text-4xl sm:ml-10 vs:text-sm vs:mb-2 vs:ml-4">Love to build Web Application</h1>
    </div>
  </div>
  <div class="bg-gray-600 mt-5 h-52 w-screen">
    <p></p>
  </div>
</body>
</html>
